*{
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('imgs/bg-intro-mobile.png');
    background-color: #ff7979;
}

#website_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#into_words{
text-align: center;
margin-top: 6rem;
}

h1{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    line-height: 2.5rem;
}

#into_words p{
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 2rem;
    padding-right:2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#payment_section{
    display: flex;
    flex-direction: column;
    width: 320px;
}

#purple_section{
    text-align: center;
    padding-top: 1rem ;
    padding-bottom: 1rem ;
    font-size: 1rem;
    padding-left:  4rem ;
    padding-right: 4rem ;
    background-color: #5E54A4;
    border-radius: 0.5rem;
    line-height: 1.8rem;
    -webkit-box-shadow: 0px 11px 7px -1px rgba(46,46,46,0.46); 
    box-shadow: 0px 11px 7px -1px rgba(46,46,46,0.46);
    margin-bottom:2rem ;
   
}

#purple_section p{
    color: #fff;
}

#purple_section p span{
    font-weight: 600;
}

form{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 11px 7px -1px rgba(46,46,46,0.46); 
    box-shadow: 0px 11px 7px -1px rgba(46,46,46,0.46);
}

form p{
text-align: center;
font-size: 0.7rem;
color: #BAB7D4;
line-height: 1.5rem;
}

form p span{
    color: #ff7979;
    font-weight: 600;
}

input{
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
}
button{
    width: 90%;
}