*{
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('imgs/bg-intro-mobile.png');
    background-color: #ff7979;
   
}

#website_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#into_words{
text-align: center;
margin-top: 6rem;
width: 320px;
}

h1{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    line-height: 2.5rem;
}

#into_words p{
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
  
    margin-top: 2rem;
    margin-bottom: 3rem;
   
}

#payment_section{
    display: flex;
    flex-direction: column;
    width: 320px;
}

#purple_section{
    text-align: center;
    padding-top: 1rem ;
    padding-bottom: 1rem ;
    font-size: 1rem;
    padding-left:  4rem ;
    padding-right: 4rem ;
    background-color: #5E54A4;
    border-radius: 0.5rem;
    line-height: 1.8rem;
    -webkit-box-shadow: 0px 11px 7px -1px rgba(46,46,46,0.46); 
    box-shadow: 0px 11px 7px -1px rgba(46,46,46,0.46);
    margin-bottom:2rem ;
   
}

#purple_section p{
    color: #fff;
}

#purple_section p span{
    font-weight: 600;
}

form{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 11px 7px -1px rgba(46,46,46,0.46); 
    box-shadow: 0px 11px 7px -1px rgba(46,46,46,0.46);
}

form p{
text-align: center;
font-size: 0.7rem;
color: #BAB7D4;
line-height: 1.5rem;
margin-top: 1rem;
}

form p span{
   
    color: #ff7979;
    font-weight: 600;
}

input{
    width: 100%;
    padding: 1.2rem;
    margin-top: 1rem;
    border: 1px solid  #BAB7D4;
    border-radius: 0.5rem;
    
}


input::placeholder {
   font-size: 0.9rem;
   font-weight: 600;
  
  }
button{
    width: 95%;
    font-size: 0.9rem;
    background-color: #38CC8B;
    color: #FFF;
    border: 1px solid #38cc8b;
    border-radius: 0.5rem;
    padding: 1rem;
    font-weight: 600;
   letter-spacing: 0.1rem;
   margin-top: 1rem;
}

button:hover{
    background-color: #a6d6c2;
    border: 1px solid #a6d6c2;
    cursor: pointer;
}

.red{
    color: red;
    text-align: right;
    width: 100%;
    margin-top: 0rem;
    display: none;
}

.survey{
    width: 95%;
    position: relative;
}

.error{
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    display: none;
}



@media screen and ( min-width:1024px){

    body{
        background-image: url('imgs/bg-intro-desktop.png');
        display: flex;
        justify-content: center;
    }
    #website_content{
        flex-direction: row;
        justify-content: center;
        width: 1024px;
        margin-top: 4rem;
    }

    #into_words{
        width: 525px;
        text-align: start;
        margin-right: 2rem;
        margin-left: 2rem;
        }
    #payment_section{
        width: 540px;
       
    }

    #purple_section{
        
    margin-top: 4rem;

    }

    h1{
        font-size: 3rem;
        line-height: 3rem;
    }

    .big{
        display: none;
    }

    .align{
        text-align: left;
    }


}